name: CI tests
on: [push]

jobs:

  emmocheck:
    name: EMMO Check
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8

    - name: Install EMMOntoPy
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools wheel
        pip install -r requirements.txt

    - name: Retrieve BattINFO
      run: git clone -b LabNotebookAppOntology https://github.com/BIG-MAP/BattINFO.git ${GITHUB_WORKSPACE}/../BattINFO

    - name: Run EMMO Check
      run: emmocheck --verbose --url-from-catalog LabNotebookAppOntology.ttl

  documentation-build:
    name: Documentation
    runs-on: ubuntu-latest
    env:
      ONTODOC_DIR: doc/ontodoc
      TMP_DIR: tmp
      PAGES_DIR: gh-pages
      PUBLISH_ONTOLOGIES_DIR: ontology
      GIT_USER_EMAIL: dev@big-map.eu
      GIT_USER_NAME: BIG-MAP Developers

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup Python 3.7
      uses: actions/setup-python@v3
      with:
        python-version: 3.7

    - name: Install general dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y pandoc graphviz texlive-xetex texlive-latex-extra

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools wheel
        pip install -r ${GITHUB_WORKSPACE}/${ONTODOC_DIR}/requirements.txt

    - name: Setup git identity
      run: |
        git config --global user.email "${GIT_USER_EMAIL}"
        git config --global user.name "${GIT_USER_NAME}"

    - name: Retrieve BattINFO
      run: git clone -b LabNotebookAppOntology https://github.com/BIG-MAP/BattINFO.git ${GITHUB_WORKSPACE}/../BattINFO

    - name: Test building GitHub Pages documentation
      run: |
        chmod 755 ${GITHUB_WORKSPACE}/${ONTODOC_DIR}/*
        ${GITHUB_WORKSPACE}/${ONTODOC_DIR}/update-pages.sh TEST

    - name: Update GitHub Pages branch
      if: github.ref == 'refs/heads/main'
      run: ${GITHUB_WORKSPACE}/${ONTODOC_DIR}/update-pages.sh ALREADY_BUILT

    - name: Push to GitHub
      if: github.ref == 'refs/heads/main'
      uses: CasperWA/push-protected@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
